echo "*.c linguist-language=C" > .gitattributes
echo "*.h linguist-language=C" >> .gitattributes
echo "*.cpp linguist-language=C++" >> .gitattributes
echo "*.hpp linguist-language=C++" >> .gitattributes
echo "*.py linguist-language=Python" >> .gitattributes